@import 'breakpoints';
@import 'variables';

@mixin padding-horizontal ($value) {
  padding-right: $value;
  padding-left: $value;
}

@mixin padding-vertical ($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin margin-horizontal ($value) {
  margin-right: $value;
  margin-left: $value;
}

@mixin margin-vertical ($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin position ($value) { position: #{$value} }

/*End of @mixins*/

@keyframes scale {
  from{
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(-100%) scale(.1);
  }
  to{
    opacity: 1;
    filter: alpha(opacity=100);
    transform:  translateX(0) scale(1);
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(0);
  }
  to{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateX(0);
  }
}

// h2 { @extend .font-lg };
// h3, h4 { @extend .font-md };

.card {
  box-shadow: 2px 3px 5px #a0a0a0;
}
.fadeIn-animation {
  animation: fadeIn .5s ease 0s 1;
  -webkit-animation: fadeIn .5s ease 0s 1;
}
.scale_animation {
  animation: scale .5s ease 0s 1;
  -webkit-animation: scale .5s ease 0s 1;
}

// Header before navigation menu
header {
  .before-nav {
    .address {
      border-right: 2px solid rgba(229, 229, 229, 0.31);
      @extend .padding-right-lg;
      p { line-height: 15px; }
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .search-icon {
      padding: 5px;
      border: 1px solid #FFFFFF;
    }
    @include media-breakpoint-down(xs) {
      .phone { display: none }
    }
  }

  // navigation-menu
  nav {
    box-shadow: 0px 4px 4px rgba(229, 229, 229, 0.53);
    .bar { display: none; }
    @include media-breakpoint-down(md) {
      @include padding-vertical(sm);
      .bar { display: inline-block };
      .nav-links {
        transition: .5s all;
        order: 4;
        flex-basis: 100%;
       
        &.toggle { display: none; }
        &, > .auth-links {  flex-direction: column; };
        > .auth-links > a { margin-right: 0 }
      }
    }
  }
}
// End of Header 

// What we do section
.we-buy {
  background-color: green;
  width: auto;
  height: 200px
}

.slim-border {
  border: $slim-border;
}

.slim-border2 {
  border: $slim-border2;
}

.slim-border-bottom {
  border-bottom: $slim-border;
}

.product-card {
  width: 300px;
}

.danger-text {
  color: $danger;
}

.bg-color1 {
  background: $color1;
}

.bg-color1-opacity {
  background: $color1-opacity
}

.bg-dark {
  background: $dark;
}

.bg-danger {
  background: $danger;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: $gray-color2;
}

.color-primary {
  color: $primary;
}

.color-gray {
  color: $gray-color;
}

.color-gray2 {
  color: $gray-color2;
}

.italic {
  font-style: italic;
}

.text-content {
  font-family: $font-family-1;
  font-style: normal;
  font-weight: normal;
  word-wrap: break-word;
  word-break: keep-all;
  writing-mode: horizontal-tb;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 29px;
}

.uppercase {
  text-transform: uppercase;
}

.font-xlg {
  font-size: 2em;
}

.font-lg {
  font-size: 1.5em;
}

.font-md {
  font-size: 1em;
}

.font-sm {
  font-size: .85em;
}

.font-xsm {
  font-size: .75em;
}

.padding-lg {
  padding: 50px 40px;
}

.padding-md {
  padding: 10px 15px;
}

.padding-sm {
  padding: 4px 5px;
}

.padding-xsm {
  padding: 4px;
}

.padding-bottom-sm {
  padding-bottom: 15px;
}

.padding-bottom-xsm {
  padding-bottom: 5px;
}

.padding-bottom-md {
  padding-bottom: 30px;
}
.padding-bottom-lg {
  padding-bottom: 50px;
}

.padding-top-lg {
  padding-top: 50px;
}

.padding-top-md {
  padding-top: 30px;
}

.padding-top-sm {
  padding-top: 15px;
}

.padding-left-md {
  padding-left: 30px;
}

.padding-left-lg {
  padding-left: 50px;
}
.padding-left-sm {
  padding-left: 15px;
}

.padding-right-sm {
  padding-right: 15px;
}

.padding-right-md {
  padding-right: 30px;
}
.padding-right-lg {
  padding-right: 50px;
}

.padding-horizontal-xsm {
  @include padding-horizontal(5px)
}

.padding-horizontal-sm {
  @include padding-horizontal(10px)
}

.padding-horizontal-md {
  @include padding-horizontal(30px)
}

.padding-horizontal-lg {
  @include padding-horizontal(40px)
}

.padding-horizontal-xlg {
  @include padding-horizontal(60px)
}

.padding-vertical-xsm {
  @include padding-vertical(5px)
}

.padding-vertical-sm {
  @include padding-vertical(10px)
}

.padding-vertical-md {
  @include padding-vertical(30px)
}

.padding-vertical-lg {
  @include padding-vertical(40px)
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-bottom-xsm {
  margin-bottom: 5px;
}

.margin-bottom-md {
  margin-bottom: 30px;
}

.margin-left-md {
  margin-left: 30px;
}

.margin-right-md {
  margin-right: 30px;
}

.margin-right-xsm {
  margin-right: 5px
}

.margin-left-sm {
  margin-left: 10px;
}
.margin-top-md {
  margin-top: 30px;
}

.margin-top-lg {
  margin-top: 50px;
}

.margin-top-sm {
  margin-top: 10px;
}
.margin-horizontal-xsm {
  @include margin-horizontal(5px)
}

.margin-horizontal-sm {
  @include margin-horizontal(10px)
}

.margin-horizontal-md {
  @include margin-horizontal(30px)
}

.margin-horizontal-lg {
  @include margin-horizontal(40px)
}

.margin-horizontal-xlg {
  @include margin-horizontal(60px)
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.icon, .margin-right-sm {
  margin-right: 10px;
}

.round-icon {
  padding: 8px;
}

.position-relative {  @include position(relative); }

.position-absolute { @include position(absolute); }

.position-absolute-overlay {
  @extend .position-absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
.overflow-h {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.border-r-circle {
  border-radius: 50%;
}

.border-r-10 {
  border-radius: 10px;
}

.border-r-5 {
  border-radius: 5px;
}
.color-dark {
  color: #000;
}

.color-white {
  color: #ffff;
}

.color1 {
  color: $color1;
}

.trans-bg {
  background: #6a048346;
}

.text-center {
  text-align: center;
}

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Flex Control*/
.d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex.nowrap {
  flex-flow: nowrap;
}

.d-flex.column {
  flex-direction: column;
}

.d-flex.align-items-center {
  align-items: center;
}

.d-flex.align-items-end {
  align-items: flex-end
}
.d-flex.justify-content-s-between {
  justify-content: space-between;
}

.d-flex.justify-content-center {
  justify-content: center;
}

.d-flex.flex-center {
  justify-content: center;
  align-items: center
}

.d-flex.justify-content-end {
  justify-content: flex-end;
}

.justify-self-end {
  justify-self: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.flex-equal {
  flex: 1;
}

.col-2 {
  width: 49%;
}

/*End of Flex Control*/
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
/*Top Navigation bar*/

.sticky_nav {
  position: fixed;
  top: 0;
}

.btn {
  transition: 0.5s all;
  outline: none;
  border: none;
  border-radius: 7px;
  @extend .padding-horizontal-md;
  @extend .padding-vertical-sm;
  @extend .font-weight-600;
  @extend .cursor-pointer;
}

.btn-color1 {
  @extend .btn;
  background: $color1;
}

.btn-disabled {
  @extend .btn;
  background: $gray-color;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
  &:hover {
    background: $color1 radial-gradient(circle, transparent 1%, $color1-opacity 1%) center/15000%;
  }
  &:active {
    background-color: $color1-opacity;
    background-size: 100%;
    transition: background 0s;
  }
}

.btn-gray {
  background: $gray-color2;
}

.sideNav {
  width: 70px;
  background: $white;
}

.user_avatar {
  margin: 0 auto;
}
.avatar-lg {
  border-radius: 50%;
  border: 1px solid $gray-color;
  box-shadow: inset 1px 2px 3px #a0a0a0;
  overflow: hidden;
  width: 150px;
  height: 150px;
  img {
    width: inherit;
    height: auto;
  }
}

.btn-transparent {
  border: 1px solid #a0a0a0;
  background: transparent;
}

.logo-lg {
  width: 200px;
  height: auto
}

.logo-md {
  width: 80px;
  flex-shrink: 1;
  height: auto;
  @include media-breakpoint-down(md) {
    width: 80px;
  }
}

.dealer {
  @extend .d-flex;
  @extend .d-flex.align-items-center;
  background: $color1 url('../assets/Star.svg') no-repeat center;
  background-size: contain;
  h3 {
    font-size: 3em
  }
  .dealer-btn, .truck {
    flex: 1;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    .truck {
      width: 100%;
      max-height: 100%;
      height: auto;
    }
    h3 {
      font-size: 2em
    }
  }
}
.footer-links {
  @extend .d-flex;
  @extend .slim-border-bottom;
  @extend .padding-bottom-md;
  .footer-link {
    flex: 1;
    @extend .margin-bottom-md;
    .title {
      @extend .margin-bottom-sm
    };
    @include media-breakpoint-down(md) {
      flex-basis: 49%;
    }
    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }
  }
}

@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }

@include media-breakpoint-down(xs) {  }
@include media-breakpoint-down(sm) { 
  .padding-horizontal-xlg {
    @include padding-horizontal(20px);
  }
  .flex-equal {
    flex-basis: 100%;
    margin-right: 0;
  }
}
@include media-breakpoint-down(md) { 
  .logo-lg {
    width: 150px
  }
}
@include media-breakpoint-down(lg) {  }

@include media-breakpoint-only(xs) {   }
@include media-breakpoint-only(sm) {   }
@include media-breakpoint-only(md) {   }
@include media-breakpoint-only(lg) {   }
@include media-breakpoint-only(xl) {   }