@import 'variables';
@import 'breakpoints';

.who-we-are {
  background: url('./assets/farm-field.png') no-repeat center;
  background-size: cover;
  height: 550px;
  width: 100%;
  .content {
    background: $dark-opacity;
    .images {
      flex-basis: 446px;
      // @include media-breakpoint-down(md) { flex-basis: 200px; };
      @include media-breakpoint-only(md) { flex-direction: row };
      > img {
        width: 100%;
        &:nth-child(1) {transform: translateY(-10%)};
        &:nth-child(2) {transform: translateY(-10%)}
      }
    }
    .about {
      flex: .8;
    };
    @include media-breakpoint-down(md) { 
      flex-direction: column;
      .about {
        flex: 0;
        flex-basis: 100%;
      }
    };
  }
  @include media-breakpoint-down(md) {
    height: 920px;
    .content {
      .images, .about { flex: .5 }
    }
  }
}

// What-we-do section
.What-we-do {
  height: 600px;
  
  .flex-container {
    // width: 80%;
    // height: 500px;
    // margin: 0 auto;
    
    .sub-div {
      flex: 1;
      flex-basis: 336px;
      max-width: 336px;
      height: 480px;
      border: 1px solid rgba(6, 152, 1, 0.57);
      box-shadow: 0px 5px 10px rgba(6, 152, 1, 0.29);
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
      div {
        img {
          max-width: 80px;
          height: auto;
        }
      } 
    }
  }
}
// End of What-we-do section
