@import 'variables';
@import 'breakpoints';
@import 'flexbox';
.account {
  .sidebar {
    flex: .15; height: 100vh;
    .sidebar-item {
      font-family: $font-family-1;
      border-left: 2px solid transparent;
      .icon { font-size: 1.5em; }
      &:hover, .active {
        border-left: 2px solid $white;
        background: rgba(255, 255, 255, 0.33)
      }
    }
  };
  .main { flex: .85 };
}
// Horizontal-Navbar
nav {
  .shopping-cart {
    margin-left: auto;
  }
  }
  .main {
    flex: .85;
    max-width: 1200px;
    margin: 0 auto;
  };


.summary {
  > .d-flex .statement { flex: 1 }
}

.expenditure {
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &.green { background: $color1 };
    &.orange { background: $orange };
    + span { letter-spacing: 0.01em }
  };
}

  // .linear-graph { 
  //   height: 100px;
  //   width: 100%;
  // }
  
// End of Horizontal-Navbar
// Dashboard
// Activity Section
.activity {
  .ongoing {
    color: $color1;
  }
  .sort {
    margin-left: 700px;
    button {
      color: $color1;
    }
  }
  .end {
    color: $danger;
  }
}