@import 'variables';
@import 'breakpoints';
@import 'spacings';
.account {
  .sidebar {
    flex: .15; height: 100vh;
    position: fixed;
    left: 0;
    transition: all .5s;
    z-index: 99;
    .sidebar-item {
      font-family: $font-family-1;
      border-left: 2px solid transparent;
      .icon { font-size: 1.5em; }
      &:hover, .active {
        border-left: 2px solid $white;
        background: rgba(255, 255, 255, 0.33)
      }
    }
    @include media-breakpoint-down(md) {
      // display: none;
      &:hover {
        .sidebar-item {
          span { display: inline-block !important }
        }
      }
      .store, .sidebar-item span { 
        display: none;
      }
    }
  };
  .main {
    flex: 1;
    max-width: 1200px;
    margin-left: .1 * 100vw;
    @include padding-horizontal(120px);
    @include media-breakpoint-down(md) {
      // margin-left: 0;
      // @include padding-horizontal(.2 * 100vw)
      // padding-left: .2 * 100vw;
    }
  };
}

.summary {
  > .d-flex .statement { flex: 1 }
}

.expenditure {
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &.green { background: $color1 };
    &.orange { background: $orange };
    + span { letter-spacing: 0.01em }
  };
}
// End of Horizontal-Navbar
